.list-container{
  max-width: 500px;
  margin: auto;
}
.list-item{
  background: beige;
  padding: 1px 27px;
  /* margin: 0px 10px 0px 0px; */
  cursor: pointer;
  box-shadow: 0px 2px 12px -11px rgb(97 92 97);
  margin-top: 12px;
}

.list-data{
  padding: 15px 27px;
    border: 1px solid #f5f5dc;
    border-top: none;
    display: none;
}
